[Unit]
Description=Run Camera Script on Boot
After=network.target

[Service]
ExecStart=/home/pi/git/FRC2429_vision/2025/python_2025_multicam_2429/runCamera
WorkingDirectory=/home/pi/git/FRC2429_vision/2025/python_2025_multicam_2429
User=pi
Group=pi
Restart=always
StandardOutput=append:/home/pi/logs/runCamera.log
StandardError=append:/home/pi/logs/runCamera.err.log

[Install]
WantedBy=multi-user.target
